<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carlletapp-notificationservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7a36c711-f27b-4c3a-849e-ef692a833ed8/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/CarlletApp-NotificationService</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/7a36c711-f27b-4c3a-849e-ef692a833ed8/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.ContainerRegistry/registries/NotificationService20230430132704</ContainerResourceId>
    <ContainerResourceName>NotificationService20230430132704</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>notificationservice20230430132704.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>